.bundle
*.sublime-project
*.sublime-workspace
.DS_Store
*.swp
db/*.sqlite3
log/
tmp/
.sass-cache/
.idea/
config/credentials.yml
test/coverage/*
test/coverage.data
bin
coverage/
.gitmodules
db/schema.rb
.rbenv-version
